<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rinnion.archived"
          android:versionCode="7"
          android:versionName="0.9.9.1002.1700">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
                android:name="com.rinnion.archived.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.rinnion.archived.permission.C2D_MESSAGE" />

    <application android:name="com.formulatx.archived.FormulaTXApplication" android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher">
        <activity android:name="com.formulatx.archived.activity.MainActivity" android:label="@string/app_name"
                  android:theme="@style/FormulaTXTheme" android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name="com.formulatx.archived.activity.MainLadiesActivity" android:label="@string/app_name"
                  android:theme="@style/FormulaTXTheme.Ladies" android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name="com.formulatx.archived.activity.MainOpenActivity" android:label="@string/app_name"
                  android:theme="@style/FormulaTXTheme.Open" android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name="com.formulatx.archived.activity.SplashActivity" android:label="@string/app_name"
                  android:theme="@style/FormulaTXTheme.NoActionBar" android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="com.formulatx.archived.service.DownloadService"/>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.rinnion.archived" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyD1E6RaGlUyV838QST2wrLC0FWb0i80xng"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.parse.APPLICATION_ID" android:value="b51B16Td0EF2fQFsXYIKPoQv49047k2AiI9pEg41" />
        <meta-data android:name="com.parse.CLIENT_KEY" android:value="DVRPRwdQnlUnelGBXHA7bVqqfmUYHqC45zdXGbcV" />

        <!--meta-data android:name="com.parse.APPLICATION_ID" android:value="rxIx4xX80zwD9lYkSWCBoKfgSZsy4lgeAfxNvqqx" /-->
        <!--meta-data android:name="com.parse.CLIENT_KEY" android:value="JZJHt4NyER5qSTWTuTKfcWwBK255DMOM2igtuAZQ" /-->

        <!--meta-data android:name="com.parse.APPLICATION_ID" android:value="reX8ztBii9yEqZF5lxjTnOK4k3R2AHteA4rfu69x" /-->
        <!--meta-data android:name="com.parse.CLIENT_KEY" android:value="pEGaA2qIqCmEsCEwejFxNyGs1bPUBLXeqDMOcwxs" /-->
    </application>
</manifest>
